<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="stylesheet" href="/css/style.css">
        <title>MyCompany</title>
        <meta charset="UTF-8">
        <script type="application/javascript" src="/js/validationCommon.js"></script>
        <script type="application/javascript" src="/js/validationEmpForm.js"></script>
    </head>
    <body>
        <header>
            <h1>MyCompany</h1>
            <img src="/images/logo.png" alt="Logo">
        </header>
        <nav>
            <ul>
                <li><a href="/" class="<%= navLocation == 'main' ? 'active' : ''%>">Strona glowna</a></li>
                <li><a href="/employee" class="<%= navLocation == 'emp' ? 'active' : ''%>">Pracownicy</a></li>
                <li><a href="/departments" class="<%= navLocation == 'dep' ? 'active' : ''%>">Departamenty</a></li>
                <li><a href="/projects" class="<%= navLocation == 'prj' ? 'active' : ''%>">Projekty</a></li>
            </ul>
        </nav>